.app-body {
  display: flex;
  background-color: #FFFFFF;
}

a{
  text-decoration: none !important;
}

@media (max-width:500px){
  .header{
    display: none !important;
  }
.col-xs-0, 
.col-sm-0,
.col-md-0,
.col-lg-0 {
  flex: 0 0 0;
  max-width: 0;
  padding-right: 0;
  padding-left: 0;
  display: none;
}
}
