.inputOption {
  display: flex;
  align-items: center;
  /* margin-top: 15px; */
  color: #b4b4b4;
  padding: 10px;
  cursor: pointer;
  gap: 10px;
}

.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.inputOption > h4 {
  /* margin-left: 5px; */
  font: normal normal medium 14px/18px Montserrat;
  letter-spacing: 0.7px;
  color: #B4B4B4;
}

.InputOptionsIconImage{
  width: 20px;
}
