@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans_serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea, input[type=text] {
  font-family: 'Montserrat', sans_serif;
}

input:focus, .textarea:focus, textarea:focus {
  outline: none !important;
  box-shadow: 0 0 10px #236ae8;
}

.input:focus {
  box-shadow: none !important;
}

.btn {
  background-color: #fff;
}

.btn_text {
  margin: 0
}

.desc p {
  margin: 0px;
}

.btn_text {
  font: normal normal 600 14px Montserrat;
  letter-spacing: 0px;
  color: #236AE8;
  text-transform: uppercase;
  opacity: 1;
}

.btn:hover {
  background-color: #236AE8;
}

.btn:hover .btn_text {
  color: #fff
}

.up:hover {
  background-color: #236AE8;
}

.up:hover .up_desc {
  color: #fff;
  text-decoration: underline;
}

.up_desc {
  color: #828282
}

.pilus {
  color: #236AE8;
}

.hov:hover, .hov:hover .pilus {
  background-color: #236AE8;
  color: #fff;
}

/* ADS COROUSEL */

.slideshow {
  overflow: hidden;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 100ms;
}

.slide {
  display: inline-flex;
  height: 150px;
  width: 100%;
  border-radius: 10px;
}

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0px 7px 0px;
  background-color: #fff;
}

.slideshowDot .active {
  width: 20px
}

#scroll_div::-webkit-scrollbar {
  display: none;
}

.scroll_div::-webkit-scrollbar {
  display: none;
}

#scroll_div, .scroll_div, select {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* FEATURED DROPDOWN */

.dropdown_featured {
  position: relative;
  display: inline_block;
}

.dropdown_content_featured {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: -30px;
}

.dropdown_content_featured a {
  color: rgb(116, 116, 116);
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  font-weight: 600;
}

.dropdown_content_featured a:hover {
  background-color: #f1f1f1
}

.dropdown_featured:hover .dropdown_content_featured {
  display: block;
}

/* HEADER CSS */

.header {
  position: fixed;
  display: flex;
  background-color: white;
  justify-content: space_evenly;
  z-index: 9;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #3F3F411A;
  opacity: 1;
  padding-left: 40px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.header_left {
  display: flex;
  margin-left: -42px;
}

.header_left>img {
  object-fit: contain;
  top: 21px;
  left: 270px;
  width: 178px;
  height: 40px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 5px;
}

.header_search {
  margin-top: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  width: 351px;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EBEBEB;
  opacity: 1;
  margin-left: 25px;
}

.header_search>form>input {
  font: italic normal medium 13px/16px Montserrat;
  outline: none;
  border: none;
  background: none;
  width: 351px;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}

.header_right {
  top: 20px;
  display: flex;
  width: 515;
  height: 50px;
  margin-left: 30px;
  gap: 30px;
}

.header_option {
  text-align: center;
  display: grid;
  place-items: center;
}

.image {
  width: 24px;
  height: 18px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 0.3;
  cursor: pointer;
}

.header_avatar {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
  object-fit: cover;
  opacity: 1;
  background: transparent 0% 0% no-repeat padding-box;
  cursor: pointer;
  opacity: 1 !important;
}

.specific {
  text-align: center;
  font: normal normal normal 13px/16px Montserrat;
  letter-spacing: 0px;
  color: #858585;
  opacity: 1;
  height: 16px;
  cursor: pointer;
}

.Search {
  color: #B4B4B4;
}

.profile_icon {
  margin-left: 20px;
  text-align: center;
  display: flex;
}

.header_options_container {
  display: grid;
  place-items: center;
}

.profile_icon img {
  width: 20px;
  height: 20px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 0.3;
  margin: auto 0 auto 0;
}

.header_search img {
  height: 18px;
  width: 19px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 0.5;
  margin-right: 15px;
}

.dropdown_menu {
  width: 204px;
  height: 245px;
  background: #FFFFFF 0% 0% no_repeat padding-box;
  box-shadow: 3px 2px 4px 2px #55555529;
  border-radius: 5px;
  opacity: 1;
  margin-top: 20px;
  margin-left: _130px;
}

.dropdown_menu ul {
  list-style: none;
  padding: 8px 0px;
}

.dropdown_menu li {
  padding: 8px 15px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile h1 {
  margin: 0px;
  margin-left: 15px;
}

.drop_profile {
  border: 2px solid #236AE8;
  border-radius: 50%;
}

.Hr2 {
  height: 0px;
  border: none;
  border-bottom: 1px solid #E5E5E5;
}

.menu {
  text-align: left;
  font-size: 12px;
}

.navbar_menu {
  width: 80px;
}

@media (max-width:500px) {
  .mobileheader {
    display: flex
  }
}

@media (min_width:1100px) {
  .mobileheader {
    display: none !important;
  }
  .header {
    display: flex
  }
}

.icon_container {
  background-color: #236AE8 ;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5px
}

.inner_icon {
  height: 30px;
  width: 30px;
}

.icon_text {
  margin: 0px;
  font-weight: 700;
  font-size: 16px;
  margin-left: 15px;
  letter-spacing: 0px;
}

.section_title {
  margin: 0px;
  font: normal normal 600 16px/19px Montserrat;
}

.featured_desc {
  font: normal normal normal 14px/18px Montserrat;
  color: #000000;
  opacity: 0.7;
  letter-spacing: 0px;
}

.section_desc {
  margin: 0px;
  font-size: 14px;
  line-height: 21px;
  color: #707070;
  letter-spacing: 0px;
}

.edit_info {
  font: normal normal normal 16px/19px Montserrat;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
  margin: 0px 0px 15px 0px;
}

.edit_info {
  margin: 10px !important;
}

.see_all_text {
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #555555;
  text-transform: uppercase;
  opacity: 1;
  margin: 0px;
  padding: 10px
}

.followers {
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.7;
  margin-top: 5px
}

/* MODALS */

.modal_title {
  font: normal normal 600 17px/20px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 0px;
  margin-left: 10px;
}

.modal_heading {
  font: normal normal 600 16px/19px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 0px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.modal_para {
  font: normal normal normal 14px/24px Montserrat;
  letter-spacing: 0px;
  color: #555555;
  border: 1px solid #5555555A;
  padding: 15px;
  border-radius: 25px;
  margin: 0px;
}

.mar0 p {
  margin: 0px
}

/* MAINS */

body {
  display: flex;
  justify-content: center;
}

.feed {
  margin-top: 100px;
}

.header_nav {
  display: none;
}

.header_option {
  display: flex;
}

.cover_feed {
  flex: 3
}

.left_feed {
  flex: 2
}

.right_feed {
  flex: 1
}

.left_side_bar {
  margin: 0px 10px;
  flex: 1.01;
  display: flex;
  justify-content: center;
}

.header_left img {
  display: block;
}

#template_modal {
  min-width: 30% !important;
}

textarea {
  width: 100%;
  resize: none;
  scrollbar-width: none;
}

#hamburger_card {
  width: 300px;
  padding: 30px 20px 0px 20px
}

#hamburger_view {
  display: none;
}

#leftbar_hamburger_view {
  display: none;
}

/* MEDIA */

@media (min-width: 1350px) {
  .feed {
    width: 100em
  }
  .right_feed {
    display: block;
  }
}

@media (max-width: 1350px) {
  .right_feed {
    display: none;
  }
  .header_nav {
    display: block;
  }
}

@media (max-width: 1350px) {
  .feed {
    width: 57em
  }
}

@media (max-width: 1140px) {
  .header_option {
    display: none;
  }
  .chat_container__3CA0T {
    display: none;
  }
}

@media (max-width: 950px) {
  .left_side_bar {
    display: none;
  }
  .feed, #Featured {
    width: 40em;
  }
  #leftbar_hamburger_view {
    display: block;
  }
  .left_feed {
    display: block;
  }
}

@media (max-width: 736px) {
  .header_left img {
    display: none;
  }
  .header_search img {
    display: block;
  }
  .header_left {
    position: absolute;
  }
  .profile_icon {
    /* justify_content: center; */
    align-items: center;
  }
  .dropdown_menu {
    position: absolute;
    left: 150px;
    top: 60px;
  }
  .dropdown_menu ul {
    margin: 0px
  }
  .header_avatar {
    position: absolute;
    left: 50px;
    top: 20px
  }
  .header_nav {
    position: absolute;
    right: 50px
  }
}

@media (max-width: 670px) {
  .feed, #Featured {
    width: 30em;
  }
}

@media (max-width: 538px) {
  .profile_icon {
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .feed, #Featured {
    width: 25em;
  }
}

@media (max-width: 556px) {
  .header_search {
    width: 240px;
  }
}

@media (max-width: 462px) {
  .header_search {
    width: 200px;
  }
}

@media (max-width: 432px) {
  .header_search {
    width: 180px;
  }
  #hamburger_card {
    width: 100%;
    padding: 30px 30px 0px 30px
  }
}

@media (max-width: 426px) {
  .feed, #Featured {
    width: 22em;
  }
  .header_search {
    width: 140px;
  }
}

@media (max-width: 360px) {
  .feed, #Featured {
    width: 20em;
  }
  .header_search {
    width: 100px;
  }
}

@media (max-width: 354px) {
  .feed, #Featured {
    width: 18em;
  }
}






/* Dropdown Button */



.editdescfeed_dropdown {
  position: relative;
  display: inline-block;
}

.editdescfeed_dropdown_content {
  display: none;
  position: absolute;
  top: 50px;
  left: -95px;
  background-color: #ffffff;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.editdescfeed_dropdown_content a {
  color: #555555;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
  border: 2px solid rgb(247, 247, 247);
  font-size: 12px;
}


.editdescfeed_dropdown_content a:hover {
  background-color: #ddd;
}


.editdescfeed_dropdown:hover .editdescfeed_dropdown_content {
  display: block;
}